div {
    border-style: groove;
    border-width: 4px;
    padding: 35px;
}

.list-group-item {
    border: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    color: darkviolet;
}


