div {
    border-style: groove;
    border-width: 4px;
    padding: 35px;
}

.list-group-item {
    border: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}

h2 {
    
}

h1 {
    
    font-size: 65px;
}

body {
    color: darkviolet;
}

#h1{
    background-color: bisque; 
}

h3 {
    
    font-size: 17px;
}
